
<div class="main users-new">
  <div class="container">
    <h1 class="form-heading">新規登録</h1>
    <div class="form">
      <div class="form-body">
        <%= form_tag("/users/create") do %>
          <p>ユーザーネーム</p>
            <input name="name" >
          <p>メールアドレス</p>
            <input name="email" >
            <p>パスワード</P>
            <input type="password" name="password">
            <input type="submit" name="" value="登録">        <% end %>
      </div>
      <%
=begin%>
 <%if @post%>
       <%= form_for @post do |f| %>
            <%= f.file_field :image %>
            <%= f.submit 'アップロードする'%>
        <% end %>
      <% else %>
          <% redorect_to("/post/index") %>
      <% end %> 
<%
=end%>
    </div>
  </div>
</div>
